*{
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

@font-face {
    font-family:Family New;
    src: url(../fonts/VictorMono-Medium.ttf);
}

body{
    background-color: brown;
    font-family: Tektur, sans-serif;
    color: beige;
}

.header{
    padding: 400px 0;
}

.special_container{
    max-width: 1200px;
    margin: 0 auto;

}

.header .special_container{
    display: flex;
    align-items: center;
}

.logo img{
    vertical-align: bottom;
    width: 75px;
    height: 75px;
}

.main_title_header, .big_title{
    font-family: Family New, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.menu{
    margin-left: 150px;
    display: flex;
    list-style: none;
}

.menu_item{
    margin-right: 120px;
}

.menu_item a{
    font-size: 15px;
    color: beige;
    text-decoration: none;
    cursor: pointer;
}

.menu_item a:hover{
    border-bottom: 2px solid white;
}